<ion-view view-title="home">
  <ion-content scroll="false">
    <div class="welcome-message" ng-if="user.username!==undefined && isBluetoothConnected">
      <span>Welcome, {{user.username}}</span>
    </div>
    <div class="search-body" ng-if="!isBluetoothConnected">
      <div class="search-pings">
        <div class="search-profile" ng-click="searchBluetooth()"></div>
        <div class="search-ping1"></div>
        <div class="search-ping2"></div>
        <div class="search-ping3"></div>
      </div>
    </div>
    <div class="radial-menu-container">
      <nav class="radial-menu" ng-if="isBluetoothConnected">
        <input type="checkbox" ng-model="isMenuOpen" href="#" class="menu-open" name="menu-open" id="menu-open" />
        <label class="menu-open-button" for="menu-open"> <span class="lines line-1"></span> <span class="lines line-2"></span> <span class="lines line-3"></span> </label>
        <a href="#" class="menu-item item-1" ng-click="navigateTo('immigration')"> <span class="menu-item--text" ng-if="isMenuOpen">Immigration Paper</span><i class="ion-document-text"></i> </a>
        <a href="#" class="menu-item item-2" ng-click="navigateTo('chatroom')"> <span class="menu-item--text" ng-if="isMenuOpen">Chatroom</span><i class="ion-chatboxes"></i> </a>
        <a href="#" class="menu-item item-3" ng-click="navigateTo('catering')"> <span class="menu-item--text" ng-if="isMenuOpen">Catering</span><i class="ion-coffee"></i> </a>
        <a href="#" class="menu-item item-4" ng-click="navigateTo('notification')"> <span class="menu-item--text" ng-if="isMenuOpen">Notification</span><i class="ion-android-notifications"></i> </a>
        <a href="#" class="menu-item item-5" ng-click="navigateTo('blackbox')"> <span class="menu-item--text" ng-if="isMenuOpen">Blackbox</span><i class="ion-email"></i> </a>
        <a href="#" class="menu-item item-6" ng-click="navigateTo('redemption')"> <span class="menu-item--text" ng-if="isMenuOpen">Point Redemption</span><i class="ion-ribbon-b"></i> </a>
      </nav>
    </div>
    <div class="account-setting" ng-click="modal.show()">
      <i class="ion-gear-a"></i>
    </div>
  </ion-content>
</ion-view>

<script id="templates/modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-light bar-transparent">
      <h1 class="title">{{modalTitle}}</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list" ng-show="showLogin">
        <label class="item item-input">
          <span class="input-label">Email </span>
          <input ng-model="user.email" type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Password </span>
          <input ng-model="user.password" type="password" autocorrect="off" autocapitalize="off">
        </label>
        <button class="button modal-button button-dark" ng-click="login()">Login</button>
        <button class="button modal-button button-clear button-dark" ng-click="changeTo('Sign Up')">Sign Up</button>
      </div>
      <div class="list" ng-show="!showLogin">
<!--
        <qr text="qrcode_string" type-number="typeNumber" correction-level="correctionLevel" size="size" input-mode="inputMode" image="image"></qr>
-->
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input ng-model="newUser.email" type="text" autocorrect="off" autocapitalize="off">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input ng-model="newUser.password" type="password" autocorrect="off" autocapitalize="off">
        </label>
        <button class="button modal-button button-clear button-dark" ng-click="changeTo('Login')">Login</button>
        <button class="button modal-button button-dark" ng-click="signUp()">Sign Up</button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
