<ion-view view-title="immigration" ng-init="init()">
  <ion-content>
    <ion-header-bar align-title="left" class="bar immigration-header-bar" ng-class="{'closePanel': openForm}">
      <div class="buttons">
        <button class="button" ng-click="goBack()">
          <i class="ion-ios-arrow-back"></i>
        </button>
      </div>
      <h1 class="title" ng-class="{'header-title': openForm}">Immigration</h1>
      <h3 class="description" ng-show="!openForm">Create your arrival card</h3>
      <div class="immigration-icon" ng-show="!openForm">
        <img src="../img/passport_copy.png">
      </div>
      <!-- <span class="header-title" ng-show="openForm">Immigration</span> -->
      <div class="create-btn" ng-click="openForm = !openForm" ng-class="{'return': openForm}">
        <i class="ion-plus-round" ng-if="!openForm"></i>
        <i class="ion-arrow-return-left" ng-if="openForm"></i>
      </div>
    </ion-header-bar>
    <div class="immigration-record list" ng-show="!openForm">
      <a ng-show="trip_list_data.length > 0 && !isLoading" class="item item-avatar" href="#" ng-click="getTrip(data)" ng-repeat="data in trip_list_data">
        <img ng-if="data.destination == 'JP' || data.destination == 'Tokyo/NRT'" src="../img/flags/48/Japan.png">
        <img ng-if="data.destination == 'TH' || data.destination == 'Bangkok'" src="../img/flags/48/Thailand.png">
        <h2>Title : {{data.title}}</h2>
        <p>Create Time : {{data.temp_create_time}}</p>
        <p>{{data.destination}} Immigration - 10/9/2016</p>
      </a>
      <a ng-hide="trip_list_data.length > 0 || isLoading" class="item item-avatar" href="#">
        <img src="../img/icon.png">
        <h2>No Trip Record is available.</h2>
        <p>Press + to start your first Trip.</p>
      </a>
      <a ng-show="isLoading" class="item text-center">
        <h2><ion-spinner icon="bubbles"></ion-spinner></h2>
      </a>
<!--
      <a class="item item-avatar" href="#" ng-click="getTrip()">
        <img src="../img/flags/48/Thailand.png">
        <h2>Cathay Pacific : UX 002</h2>
        <p>Thailand Immigration - 21/8/2016</p>
      </a>
      <a class="item item-avatar" href="#" ng-click="getTrip()">
        <img src="../img/flags/48/Poland.png">
        <h2>Cathay Pacific : UX 003</h2>
        <p>Poland Immigration - 03/2/2016</p>
      </a>
-->
    </div>
    <div class="immigration" ng-show="openForm">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Title:</span>
          <input type="text" placeholder="{{data.title || 'Full Name'}}" ng-model="data.title">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Full Name:</span>
          <input type="text" placeholder="{{data.user_info.name || 'Full Name'}}" ng-model="data.user_info.name">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Nationality:</span>
          <input type="text" placeholder="{{data.user_info.nationality || 'nationality'}}" ng-model="data.user_info.nationality">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Date of Birth:</span>
          <input type="text" placeholder="{{data.user_info.date_of_birth || 'Date of Birth'}}" ng-model="data.user_info.date_of_birth">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Passport Number:</span>
          <input type="text" placeholder="{{data.user_info.passport_number || 'Passport Number'}}" ng-model="data.user_info.passport_number">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Visa Number:</span>
          <input type="text" placeholder="{{data.user_info.visa_number || 'Visa Number'}}" ng-model="data.user_info.visa_number">
        </label>
<!--
        <label class="item item-input item-floating-label">
          <span class="input-label">Gender:</span>
          <input type="text" placeholder="{{data.user_info.gender || 'Gender'}}" ng-model="data.user_info.gender">
        </label>
-->
<!--
        <label class="item item-input item-floating-label">
          <span class="input-label">Address:</span>
          <input type="text" placeholder="{{data.user_info.address || 'Address'}}" ng-model="data.user_info.address">
        </label>
-->
        <label class="item item-input item-floating-label">
          <span class="input-label">Flight Number To:</span>
          <input type="text" placeholder="{{data.flight_number_to || 'Flight Number To'}}" ng-model="data.flight_number_to">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Foreign Address:</span>
          <input type="text" placeholder="{{data.foreign_address || 'Foreign Address'}}" ng-model="data.foreign_address">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Destination:</span>
          <input type="text" placeholder="{{data.destination || 'Destination'}}" ng-model="data.destination">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">From date:</span>
          <input type="text" placeholder="{{from_date || 'From Date'}}" ng-model="from_date">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">To Date:</span>
          <input type="text" placeholder="{{to_date || 'To Date'}}" ng-model="to_date">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Flight Number Back:</span>
          <input type="text" placeholder="{{data.flight_number_back || 'Flight Number Back'}}" ng-model="data.flight_number_back">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Last Visit Country:</span>
          <input type="text" placeholder="{{data.last_visit_country || 'Last Visit Country'}}" ng-model="data.last_visit_country">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Next Visit Country:</span>
          <input type="text" placeholder="{{data.next_visit_country || 'Next Visit Country'}}" ng-model="data.next_visit_country">
        </label>
        <button class="button button-block button-outline button-dark" ng-class="{'disable': checkFinished()}" ng-click="submitForm(); openForm = false">Submit Immigration Paper</button>
      </div>
    </div>
  </ion-content>
</ion-view>

<script id="templates/modal.html" type="text/ng-template">
  <ion-modal-view class="qr-code-modal">
    <ion-header-bar class="bar bar-header bar-light">
      <h1 class="title">Immigration Record</h1>
      <button class="button button-clear button-primary" ng-click="closeQRCode()"><i class="ion-close-round"></i></button>
    </ion-header-bar>
    <ion-content>
      <div class="qr-code" ng-click="openQRCodeLink()">
        <qr text="qrcode_string" type-number="typeNumber" correction-level="correctionLevel" size="size" input-mode="inputMode" image="image"></qr>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
