<ion-header-bar align-title="center" class="bar bar-balanced bar-chatroom">
  <div class="buttons">
    <button class="button button-clear" ng-click="goBack()"><i class="ion-ios-arrow-left"></i></button>
  </div>
  <h1 class="title">Chatroom</h1>
</ion-header-bar>

<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list chatroom-dashboard">
      <a class="item item-avatar" href="#" ng-click="openChat(1)">
        <img src="../img/group_icon.png">
        <h2>Flight Group</h2>
        <p>Last Message Here</p>
        <i class="ion-chevron-right"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
